body {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, sans-serif;
    
    background: linear-gradient(90deg, rgba(2,0,36,0.6783088235294117) 0%, rgba(0,212,255,1) 100%);}

.container {
   display: flex;
   justify-content: center;
   margin-top: 1rem;
   animation: floatAnimation 2s infinite alternate; /* Añadido una animación de flotación */
}
@keyframes floatAnimation {
    from {
        transform: translateY(15px);
    }
    to {
        transform: translateY(0px); /* Altura a la que flotará hacia arriba */
    }
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 70px;
    background-color: #fff; /* Color de fondo para las tarjetas */
}

.card-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-title {
    
    color: #333; /* Color del título de la tarjeta */
}

.card-text {
    color: #666; /* Color del texto de la tarjeta */
}

.btn-primary {
    text-decoration: none;
    color: #fff;
    background-color: #ff0000;
    padding: 10px;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3; /* Cambia el color al pasar el ratón sobre el botón */
}
