body {
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, rgba(238,174,174,1) 0%, rgba(148,187,233,1) 99%);
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    animation: floatAnimation 2s infinite alternate; /* Añadido una animación de flotación */
 }
 @keyframes floatAnimation {
     from {
         transform: translateY(15px);
     }
     to {
         transform: translateY(0px); /* Altura a la que flotará hacia arriba */
     }
 }
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff; /* Color de fondo para las tarjetas */
}

.card-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-title {
    color: #333; /* Color del título de la tarjeta */
}

.card-text {
    color: #666; /* Color del texto de la tarjeta */
}

.btn-primary {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3; /* Cambia el color al pasar el ratón sobre el botón */
}
